<div id="currently_playing" class="<%= "playing" if @currently_playing_episode %>">
  <% if @currently_playing_episode %>
    <span style="float: right">
        <% if @paused %>
          <%= link_to_remote("play", :url => {:controller => :episodes, :action => "pause"}, :html => {:class => "play"}) %>
        <% else %>
          <%= link_to_remote("pause", :url => {:controller => :episodes, :action => "pause"}, :html => {:class => "pause"}) %>
        <% end %>
        <%= link_to_remote "stop", :url => {:controller => :episodes, :action => "stop"}, :html => {:class => "stop"} %>
    </span>
    Playing: <%= h File.basename(@currently_playing_episode.filename) %>
  <% else %>
    idle...
  <% end %>
  
</div>
