<div id="detail_lightbox">
  <h2>Filename:</h2>
  <p><%= episode.filename %></p>

  <h2>Last Played:</h2>
  <p><%= episode.last_watched || "Never" %></p>

  <h2>First Noticed:</h2>
  <p><%= episode.created_at %></p>

  <h2>Hashcode:</h2>
  <p><%= episode.hash_code %></p>

  <h2>Id:</h2>
  <p><%= episode.id %></p>
</div>