- content_tag_for(:li, episode, :class => (episode.seen? ?  "seen" :  "notseen")) do
  .filename
    %span.show_name= show_name(episode)
    = h episode.name
  .options
    - if currently_playing?(episode)
      = link_to_pause
      = link_to_stop
    - else
      = link_to_play(episode)
    = link_to_seen(episode)
    = link_to_remote "more detail", :url => {:controller => :episodes, :action => "detail", :episode => episode}, :html => {:class => "detail"}
