<div class="box">
  <h1>Mediaoca - Available Media</h1>
  <p>
    Please select some media to play. If it messes up you may need to restart the media_controller daemon.
  </p>

  <% if flash[:notice] %>
    <p style="color: #000; background: #fea;">
      <%= flash[:notice] %>
    </p>
  <% end %>

  <ul>
  <% @episodes.each do |episode| %>
    <li>
      <p class="last-watched">
        <%=h Episode.find_or_create_by_filename(episode).last_watched.to_s %>
      </p>
      <%= link_to_play(episode) %>
    </li>
  <% end %>
  </ul>
</div>

<div id="currently_playing">
  <% if @currently_playing %>
    <span style="float: right">
        <%= link_to "stop", :action => "stop" %> |
        <%= link_to( (@paused ? "resume" : "pause"), :action => "pause") %>
    </span>
  <% end %>
  Playing: <code><%= h @currently_playing || "nothing" %></code>
</div>
