<h1>Mediaoca - Available Media</h1>
<p>
  Please select some media to play. If it messes up you may need to restart the media_controller daemon.
</p>

<% if flash[:notice] %>
  <p style="color: #000; background: #fea;">
    <%= flash[:notice] %>
  </p>
<% end %>

<% if @currently_playing %>
  <h2>Currently Playing:</h2>
  <pre><%= h @currently_playing || "nothing" %></pre>
  <strong style="font-size: 1.1em;">
      <%= link_to "stop", :action => "stop" %> |
      <%= link_to( (@paused ? "resume" : "pause"), :action => "pause") %>
  </strong>
<% end %>

<ul>
<% @episodes.each do |episode| %>
  <li><%= link_to(File.basename(episode), :action => "show", :episode => episode) %></li>
<% end %>
</ul>
