<div class="box" id="currently_downloading">
  <div class="options">
    <%= link_to_remote("pause/resume", :url => {:action => :pause_server}, :html => {:class => "pause"}) %>
  </div>
  
  <h2>Currently Downloading</h2>
  <% if @current_download_name %>
    <h3><%= h @current_download_name %></h3>
    <p><strong><%= h @percent_complete %></strong>% of <strong><%= h @current_download_size %></strong>mb</p>

    <p>Rate: <strong><%=h @rate %></strong>kbps</p>
    
    <p>ETA: <strong><%= h @current_download_eta %></strong></p>
    
  <% else %>
    <h3>Idle</h3>
  <% end %>

  <p>Paused: <strong><%= h @current_download_paused %></strong></p>

  <% if queue = @status["queued"] %>
    <h2>Queued</h2>
    <ul id="hellanzb_queue">
      <% queue.each do |item| %>
        <li>
          <strong><%= h item["nzbName"] %></strong>
          (<strong><%= h item["total_mb"] %></strong>mb)
          
          <div class="options">
            <%= link_to_remote("force download", :url => {:action => :force_download, :nzbid => item["id"]}, :html => {:class => "force"}) %>
          </div>
          
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
