#currently_downloading.box
  .options= link_to_remote("pause/resume", :url => {:action => :pause_server}, :html => {:class => "pause"})
  %h2
    Currently Downloading
  - if @current_download_name
    %h3= h @current_download_name
    %p= hellanzb_progress(@percent_complete, @current_download_size)
    %p
      Rate:
      %strong= h @rate
      kbps
    %p
      ETA:
      %strong= h @current_download_eta
  - else
    %h3 Idle
  %p
    Paused:
    %strong= h @current_download_paused
  - if queue = @status["queued"]
    %h2 Queued
    %ul#hellanzb_queue= render :partial => "queue_item", :collection => queue
