<div class="box" id="currently_downloading">
  <h2>Currently Downloading</h2>
  <% if @current_download_name %>
    <h3><%= h @current_download_name %></h3>
    <p><strong><%= h @percent_complete %></strong>% of <strong><%= h @current_download_size %></strong>mb</p>

    <p>Rate: <strong><%=h @rate %></strong>kbps</p>
    <p>ETA: <strong><%= h @current_download_eta %></strong></p>    
  <% else %>
    <h3>Idle</h3>
  <% end %>
  <% if queue = @status["queued"] %>
    <h2>Queued</h2>
    <ul>
      <% queue.each do |item| %>
        <li>
          <strong><%= h item["nzbName"] %></strong>
          ( <strong><%= h item["total_mb"] %></strong> mb )
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
