#system_commands.box
  %h1 System Commands
  %ul
    %li= link_to "Sleep", {:action => "sleep_system"}, :confirm => "Are you sure?"
    %li= link_to "Restart Media Controller", :action => "restart_media_controller"
    %li= link_to "Shutdown", {:action => "shutdown_system"}, :confirm => "Are you sure?"
#disk_usage.box
  %h1 Disk Usage
  %table
    %tr
      %th Drive
      %th Free (GB)
    - @disk_usage.each do |disk_usage|
      %tr
        %td= h disk_usage.path
        %td= format_disk_usage(disk_usage)