.box
  %h1 Listing shows
  - for show in @shows
    .show[show]
      %h2&= show.name
      %span.stats&= show.episodes.reject(&:seen?).size.to_s + " of " + show.episodes.size.to_s
      .options
        = link_to 'Show', show
        = link_to 'Edit', edit_show_path(show)
      - if show.episodes.latest
        %ul= render :partial => "episodes/episode", :collection => show.episodes.latest.first(3)
  .options
    = link_to 'New show', new_show_path
