<html>
<head>
  <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" title="Main Style" charset="utf-8"/>
  <%= javascript_include_tag :all %>
  <title>Mediaoca</title>
</head>
<body>
  <div id="top_bar">
    <h1 id="title">Mediaoca</h1>
    <div id="menu">
      <%= link_to "episodes", {:controller => :episodes}, :class => "first" %>
      <%= link_to "shows", {:controller => :shows} %>
      <%= link_to "nzb", {:controller => :hellanzb} %>
      <%= link_to "system", {:controller => :system} %>
    </div>
    <%= render :partial => 'episodes/currently_playing' %>
    <%= periodically_call_remote(:url => {:controller => :episodes, :action => :update_currently_playing}, :frequency => 60) %>
  </div>

  <% if @notice || flash[:notice] %>
    <div class="box notice">
      <%= @notice || flash[:notice] %>
    </div>
  <% end %>

  <%= yield %>
  <div id="detail_lightbox_backdrop" style="display: none">
    <div id="detail_lightbox"></div>
  </div>
</body>
</html>
