<html>
<head>
  <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" title="Main Style" charset="utf-8"/>
  <%= javascript_include_tag :all %>
  <title>Mediaoca</title>
</head>
<body>
  <div id="top_bar">
    <h1 id="title">Mediaoca</h1>
    <div id="menu">
      <%= link_to "Playlist", {:controller => :episodes}, :class => "first" %>
      <%= link_to "NZB", {:controller => :hellanzb} %>
    </div>
    <%= render :partial => 'episodes/currently_playing' %>
    <%= periodically_call_remote(:url => {:controller => :episodes, :action => :update_currently_playing}, :frequency => 60) %>
  </div>  

  <%= yield %>
</body>
</html>